<!DOCTYPE html>
<html class="login-pf">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Sign in to site-film</title>
    <link rel="icon" href="/resources/qn42o/login/keycloak/img/favicon.ico" />
    <link href="/resources/qn42o/common/keycloak/node_modules/@patternfly/patternfly/patternfly.min.css"
          rel="stylesheet" />
    <link href="/resources/qn42o/common/keycloak/node_modules/patternfly/dist/css/patternfly.min.css"
          rel="stylesheet" />
    <link href="/resources/qn42o/common/keycloak/node_modules/patternfly/dist/css/patternfly-additions.min.css"
          rel="stylesheet" />
    <link href="/resources/qn42o/common/keycloak/lib/pficon/pficon.css" rel="stylesheet" />
    <link href="/resources/qn42o/login/keycloak/css/login.css" rel="stylesheet" />
    <script type="module">
        import { checkCookiesAndSetTimer } from "/resources/qn42o/login/keycloak/js/authChecker.js";

        checkCookiesAndSetTimer(
            "b412d767-0240-41a8-b805-d63c0509282b",
            "b2ox7W7wttc",
            "/realms/site-film/login-actions/restart?client_id=user-service&tab_id=b2ox7W7wttc&skip_logout=true"
        );
    </script>
</head>

<body class="">
<div class="login-pf-page">
    <div id="kc-header" class="login-pf-page-header">
        <div id="kc-header-wrapper" class="">site-film</div>
    </div>
    <div class="card-pf">
        <header class="login-pf-header">
            <h1 id="kc-page-title"> Sign in to your account

            </h1>
        </header>
        <div id="kc-content">
            <div id="kc-content-wrapper">


                <div id="kc-form">
                    <div id="kc-form-wrapper">
                        <form id="kc-form-login" onsubmit="login.disabled = true; return true;"
                              action="http://localhost:8088/realms/site-film/login-actions/authenticate?session_code=BMfelBgQs1mM_GgAsybYhGhyr5CRz9hIIr4om7S7xas&amp;execution=7476e2ae-4513-43c7-b9e0-b77d721a54af&amp;client_id=user-service&amp;tab_id=b2ox7W7wttc"
                              method="post">
                            <div class="form-group">
                                <label for="username" class="pf-c-form__label pf-c-form__label-text">Username or email</label>

                                <input tabindex="1" id="username" class="pf-c-form-control" name="username" value=""  type="text" autofocus autocomplete="off"
                                       aria-invalid=""
                                />


                            </div>

                            <div class="form-group">
                                <label for="password" class="pf-c-form__label pf-c-form__label-text">Password</label>

                                <div class="pf-c-input-group">
                                    <input tabindex="2" id="password" class="pf-c-form-control" name="password" type="password" autocomplete="off"
                                           aria-invalid=""
                                    />
                                    <button class="pf-c-button pf-m-control" type="button" aria-label="Show password"
                                            aria-controls="password"  data-password-toggle
                                            data-icon-show="fa fa-eye" data-icon-hide="fa fa-eye-slash"
                                            data-label-show="Show password" data-label-hide="Hide password">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>


                            </div>

                            <div class="form-group login-pf-settings">
                                <div id="kc-form-options">
                                </div>
                                <div class="">
                                </div>

                            </div>

                            <div id="kc-form-buttons" class="form-group">
                                <input type="hidden" id="id-hidden-input" name="credentialId" />
                                <input tabindex="4" class="pf-c-button pf-m-primary pf-m-block btn-lg" name="login" id="kc-login" type="submit" value="Sign In"/>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="module" src="/resources/qn42o/login/keycloak/js/passwordVisibility.js"></script>





            </div>
        </div>

    </div>
</div>
</body>

</html>
